server:
  port: 8888
spring:
  application:
    name: spring-cloud-config-server
  profiles:
    active: native
  cloud:
    config:
      server:
        native:
          search-locations: classpath:/config-repo/
    zookeeper:
      discovery:
        enabled: false
      connect-string: zookeeper:2181

