apiVersion: v1
kind: Service
metadata:
  name: {{ include "convert.fullname" . }}
  labels:
    {{- include "convert.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "convert.selectorLabels" . | nindent 4 }}
